{% extends "wafer/base.html" %}
{% load i18n %}
{% load dc20 %}
{% block title %}{{ object.name }} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<section class="wafer">
  <h1>{{ object.name }}</h1>
  <div class="now-or-next" style="display: none">
    <strong class="now">Now playing:</strong>
    <strong class="next">Next:</strong>
    <span class="talk-title"></span>
    <a class="talk-details" target="_blank" href="#">(details)</a>
  </div>
  {% if object.video %}
    <div id="video">
        <div class="row">
            <div class="video-container col-md-8">
                <video
                  id="live-stream"
                  class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9"
                  controls
                >
                  <source src="https://onsite.live.debconf.org/redir/live/{{ object|stream }}.m3u8"
                    type="application/x-mpegURL" label="Full">
                </video>

                <div class="now-or-next" style="display: none">
                  <p>
                  <strong>Abstract:</strong>
                  <span class="talk-abstract"></span>
                  </p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="now-or-next" style="display: none">
                <h4>Shared notes</h4>
                <p>
                For questions and collaborative note taking:
                <a class="shared-notes" href="#" target="_blank"></a>
                </p>
              </div>
              <div class="chat">
                <h4>Chat</h4>
                <p>
                Join <code>#{{ object|channel }}</code>
                     and
                     <code>#debconf</code>
                     on OFTC with your IRC client, or
                     <a href="https://webchat.oftc.net/?nick={{ nick }}&channels=#debconf,#{{ object|channel }}&prompt=1&uio=OT10cnVlJjExPTAmMTM9ZmFsc2Uf9" target="_blank" class="btn btn-primary" id="start-webchat">Join using the webchat</a>
                </p>
              </div>
            </div>
        </div>
    </div>
  {% else %}
    {# venue with no video #}
    {{object.notes}}
  {% endif %}
  {% if object.video %}
    <h2>Other ways to watch the video</h2>
    <div>
      The streams are available over HLS (used by the player above) and RTMP, in 4 qualities.
    </div>
    <ul>
      <li>
        <strong>HLS:</strong> vlc, mpv, and mobile web browsers understand HLS streaming, use the URL:
        <code class="direct-link">https://onsite.live.debconf.org/redir/live/{{ object|stream }}.m3u8</code>.
      </li>
      <li>
        <strong>RTMP:</strong> lower latency than HLS, but without automatic bandwidth management.
        Use one of the following URLs:
        <ul>
          <li>Source quality (1280x720): <a href="rtmp://onsite.live.debconf.org/redir/front/{{ object|stream }}_src" class="direct-link">rtmp://onsite.live.debconf.org/redir/front/{{ object|stream }}_src</a>.</li>
          <li>High quality (900x506): <a href="rtmp://onsite.live.debconf.org/redir/front/{{ object|stream }}_high" class="direct-link">rtmp://onsite.live.debconf.org/redir/front/{{ object|stream }}_high</a>.</li>
          <li>Medium quality (720x404): <a href="rtmp://onsite.live.debconf.org/redir/front/{{ object|stream }}_mid" class="direct-link">rtmp://onsite.live.debconf.org/redir/front/{{ object|stream }}_mid</a>.</li>
          <li>Low quality (480x270): <a href="rtmp://onsite.live.debconf.org/redir/front/{{ object|stream }}_low" class="direct-link">rtmp://onsite.live.debconf.org/redir/front/{{ object|stream }}_low</a>.</li>
        </ul>
      </li>
      <li id="redir-nojs">
        If you see <code>/redir/</code> in a URL above, please enable
        Javascript, so that we can pick the best video mirror for you.
      </li>
    </ul>
  {% endif %}
</section>
{% endblock %}
{% block extra_foot %}
<script type="text/javascript">
  'use strict';

  function load_talk(id) {
    jQuery.getJSON("/talks/api/talks/" + id + "/", function(data) {
      // get etherpad link
      jQuery.each(data.urls, function(_, url) {
        if (url.description == "etherpad") {
          $("a.shared-notes").attr("href", url.url);
          $("a.shared-notes").html(url.url);
        }
      });

      // Show talk info
      $(".talk-title").html(data.title);
      $(".talk-abstract").html(data.abstract);
      $(".talk-details").attr("href", "/talks/" + data.talk_id + "/");
    });
  }

  function load_now_or_next() {
    jQuery.getJSON("/now_or_next/{{ object.id }}/", function(data) {
      if (data.talk) {
        load_talk(data.talk);
        $(".now-or-next").show();
        if (data.next) {
          $(".next").show();
          $(".now").hide();
        } else {
          if (data.now) {
            $(".next").hide();
            $(".now").show();
          }
        }
      }
      if (data.reload_seconds) {
        setTimeout(load_now_or_next, 1000 * data.reload_seconds);
      }
    });
  }

  function find_closest_video_mirror(callback) {
    var source_elts = $('#live-stream source');
    var link_elts = $('.direct-link');
    var nojs_elts = $('#redir-nojs');

    $.ajax({
      url: 'https://onsite.live.debconf.org/local-server',
    }).done(function(country_code) {
      function localize(url) {
        return url.replace(/onsite\.live\.debconf\.org\/redir/, country_code + '.live.debconf.org');
      }
      source_elts.each(function() {
        this.setAttribute('src', localize(this.getAttribute('src')));
      });
      link_elts.each(function() {
        this.innerHTML = localize(this.innerHTML);
        if (this.getAttribute('href')) {
          this.setAttribute('href', localize(this.getAttribute('href')));
        };
      });
      nojs_elts.hide();
      callback();
    });
  }

  function init_video() {
    var p = videojs('live-stream');
    p.qualityLevels();
    p.hlsQualitySelector({displayCurrentQuality: true});
  };

  $(function() {
    find_closest_video_mirror(init_video);
    load_now_or_next();
  });
</script>
{% endblock %}
